<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://123.206.202.103:3306/citi</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <mapping class="edu.nju.model.FundHistory"/>
    <mapping class="edu.nju.model.DeletedCommodity"/>
    <mapping class="edu.nju.model.DeletedProduct"/>
      <mapping class="edu.nju.model.InvestHistory"/>
    <mapping class="edu.nju.model.InvestStatus"/>
    <mapping class="edu.nju.model.NameToId"/>
    <mapping class="edu.nju.model.PushCache"/>
      <mapping class="edu.nju.model.UserLogin"/>
    <mapping class="edu.nju.model.UnpaidItem"/>
      <mapping class="edu.nju.model.ProductBank"/>
      <mapping class="edu.nju.model.DeletedPortfolio"/>
    <mapping class="edu.nju.model.UserFamilySpeeding"/>
    <mapping class="edu.nju.model.UserInformation"/>
    <mapping class="edu.nju.model.Institution"/>
    <mapping class="edu.nju.model.User"/>
    <mapping class="edu.nju.model.PayWay"/>
    <mapping class="edu.nju.model.InstitutionCategoryRelation"/>
    <mapping class="edu.nju.model.Hs300"/>
    <mapping class="edu.nju.model.FundDailyHistory"/>
    <mapping class="edu.nju.model.InsuranceDailyHistory"/>
    <mapping class="edu.nju.model.BondIndexReturn"/>
    <mapping class="edu.nju.model.CategoryMarketWeeklyHistory"/>
      <mapping class="edu.nju.model.History"/>
    <mapping class="edu.nju.model.BondIndex"/>
    <mapping class="edu.nju.model.InvestmentPortfolio"/>
    <mapping class="edu.nju.model.MarketStatus"/>
      <mapping class="edu.nju.model.BankDailyHistory"/>
      <mapping class="edu.nju.model.CategoryIndex"/>
    <mapping class="edu.nju.model.UserAsset"/>
      <mapping class="edu.nju.model.ProductFund"/>
      <mapping class="edu.nju.model.ProductInsurance"/>
    <mapping class="edu.nju.model.UserTemperPrefer"/>
    <mapping class="edu.nju.model.InvestedProducts"/>
    <mapping class="edu.nju.model.TradeHistory"/>
    <mapping class="edu.nju.model.ProductBond"/>
    <mapping class="edu.nju.model.CategoryRtrWeeklyHistory"/>
    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>