body {
    background-color: #dddddd;
    font-family:
            "Pingfang SC", "Open Sans",
            "Lantinghei SC", "Microsoft Yahei Light",
            "Microsoft Yahei", "Helvetica Neue",
            Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: lighter;
}

html, body, h1, h2, h3, h4, h5, h6, li, ul, p, a, img, label {
    margin: 0;
    padding: 0;
    border: 0;
    /*color: rgba(0,0,0,0.6);*/
    font-size: 14px;
    text-decoration: none;
    list-style: none;
}

input, button, select, td{
    font-family:
            "Pingfang SC", "Open Sans",
            "Lantinghei SC", "Microsoft Yahei Light",
            "Microsoft Yahei", "Helvetica Neue",
            Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: lighter;
}

.main-content {
    width: 960px;
    height: auto;
    min-height: 100vh;
    margin: 0px auto auto auto;
    padding-top: 90px;
    /*color: rgb(180, 180, 180);*/
    color: #535353;
    /*font-weight: lighter;*/
}

input[type="text"] {
    width: auto;
    border-radius: 2px;
    border: 1px solid #dddddd;
    color: #434343;
    box-shadow: inset 1px 1px 2px 0 rgba(150, 150, 150, 0.2);
}

input[type="text"]:focus {
    background-color: #f9f9f9;
    outline: none;
}

input[type="password"] {
    width: auto;
    border-radius: 2px;
    border: 1px solid #dddddd;
    color: #434343;
    box-shadow: inset 1px 1px 2px 0 rgba(150, 150, 150, 0.2);
}

input[type="password"]:focus {
    background-color: #f9f9f9;
    outline: none;
}

select {
    /*width: auto;*/
    border: solid 0px rgba(128, 128, 128, 0.7);
    padding: 4px 20px 4px 10px;

    border-radius: 0;

    /*background-color: white;*/
    background: url("../img/arrow.png") no-repeat scroll right center transparent;
    background-origin: padding-box;

    box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.7);

    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
}

select:focus {
    outline: none;
    background: #efefef;
}

select::-ms-expand {
    display: none;
}

.display-none {
    display: none;
}


/* header */
.header {
    width: 100%;
    height: 60px;
    background-color: #fff;
    position: fixed;
    z-index: 100;
}
.header-square {
    float: left;
    margin-top: 7px;
    width: 160px;
    height: 44px;
    background:url('../img/logo.png');
    background-size: contain;

}
.header-title {
    float: left;
    margin-left: 10px;
    line-height: 60px;
    font-family: "Microsoft YaHei";
    font-size: 24px;
    color: #11b7f3;
}
.header-button {
    float: right;
}
.button-style {
    line-height: 60px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 14px;
    color: #434343;
    outline: 0;
}

.clear {
    clear: both;
}
.container {
    margin: auto;
    width: 960px;
}
.shadow {
    -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
}

/* main */

.main {
    width: 100%;
    padding-top: 60px;
    min-height: 100vh;
}

/* footer */
.footer {
    width: 100%;
    height: 160px;
    background-color: #fff;
}

.footer-text {
    font-size: 14px;
    color: #434343;
}


/* radio */
input[type=radio]:not(old) {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size : 1em;
    opacity: 0;
}
input[type=radio]:not(old) + label {
    width: 98%;
    padding: 5px 3px;
    border: solid 2px transparent;
    display: inline-block;
    margin-left: -2em;
    line-height: 15px;
    color: #434343;
}
input[type=radio]:not(old) + label > span {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 1px 8px 1px 1px;
    border: .5px solid #959595;
    border-radius: 8px;
    vertical-align: middle;

}

input[type=radio]:not(old):checked +  label > span > span {
    display: block;
    width: 8px;
    height: 8px;
    margin: 3px;
    border-radius: 4px;
    background: #959595;
}

/* color */
.bank-circle {
    background-color: #ffc001;
    box-shadow: 0 2px 6px 0 rgba(254, 203, 47, 0.5);
    transition: all 0.5s;
}
.fund-circle {
    background-color: #fd537b;
    box-shadow: 0 2px 6px 0 rgba(253, 85, 123, 0.5);
    transition: all 0.5s;
}
.insurance-circle {
    background-color: #bb52fe;
    box-shadow: 0 2px 6px 0 rgba(187, 82, 254, 0.5);
    transition: all 0.5s;
}
.bond-circle {
    background-color: #fd9b4c;
    box-shadow: 0 2px 6px 0 rgba(253, 155, 76, 0.5);
    transition: all 0.5s;
}

.bank-financing:hover .bank-circle {
    background: none;
    color: #fecb2f;
    box-shadow: 0 0 7px 0 #fecb2f;
    transition: all 0.5s;
}

.fund:hover .fund-circle {
    background: none;
    color: #fd537b;
    box-shadow: 0 0 7px 0 #fd537b;
    transition: all 0.5s;
}

.insurance:hover .insurance-circle {
    background: none;
    color: #bb52fe;
    box-shadow: 0 0 7px 0 #bb52fe;
    transition: all 0.5s;
}


.bond:hover .bond-circle {
    background: none;
    color: #fd9b4c;
    box-shadow: 0 0 7px 0 #fd9b4c;
    transition: all 0.5s;
}

input[type="text"].range-input {
    width: 90px;
}

.range-wrapper {
    padding-top: 13px;
    display: flex;
    align-items: center;
}