body {
    background-color: #dddddd;
}

html, body, h1, h2, h3, h4, h5, h6, li, ul, p, a, img, label {
    margin: 0;
    padding: 0;
    border: 0;
    /*color: rgba(0,0,0,0.6);*/
    font-size: 14px;
    font-family:
            "Pingfang SC", "Open Sans",
            "Lantinghei SC", "Microsoft Yahei Light",
            "Microsoft Yahei", "Helvetica Neue",
            Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: lighter;
    text-decoration: none;
    list-style: none;
}

.main-content {
    width: 960px;
    height: auto;
    margin: 90px auto auto auto;
    /*color: rgb(180, 180, 180);*/
    color: #535353;
    /*font-weight: lighter;*/
}

input[type="text"] {
    width: auto;
    border-color: #eeeeee;
    border-radius: 4px;
    color: black;
}

input[type="text"]:focus {
    background-color: #efefef;
    outline: none;
}

select {
    /*width: auto;*/
    border: solid 1px #aaaaaa;
    padding: 4px 20px 4px 10px;

    border-radius: 0;

    /*background-color: white;*/
    background: url("../img/arrow.png") no-repeat scroll right center transparent;
    background-origin: padding-box;

    box-shadow: 0px 0px 2px #535353;

    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
}

select:focus {
    outline: none;
    background: #efefef;
}

select::-ms-expand {
    display: none;
}

.display-none {
    display: none;
}