@CHARSET "UTF-8";
.product-bigicon {
    float: left;
    width: 140px;
    height: 140px;
    border-radius: 70px;
    color: #fff;
    text-align: center;
    margin-left:5%;
    margin-top:5%;
    padding-top:4%;
    line-height:normal;
}

.line{
	width:70%;
	margin-top:0;
	border-top:1px solid white;
	border-bottom:none;
	height:1px;
}

.rightPart{
	float:left;width:50%;height:180px;margin-left:10%;
	padding-top:7%;
	
}

.smallBlock{
	width:10px;height:30px;background-color:#11b7f3;float:left;
}

.blueFont{
	font-size:20px;margin-left:5%;color:#11b7f3
}

.income{
	height:250px;width:90%;margin-left:5%
}

.typeFont{
	font-size:14px;color:#BBBBBB
}

.detailDiv{
	width:220px;margin-left:5%;float:left;margin-top:2%;
}

.infoBlock{
	width:500px;float:left;margin-top:2%;
}

.signupContent{
    width:80%;height:60%;margin-left:10%;margin-top:5%;text-align:center
}

.inputSize{
	height:30px;width:250px
}

.platButton {
    padding: 5px 30px;
    border: none;
    outline: 0;
    cursor: pointer;
    color: #fff;
    background-color: #11b7f3;
    font-size: 16px;
}

.wideButton {
    padding: 5px 150px;
    border: none;
    outline: 0;
    cursor: pointer;
    color: #fff;
    background-color: #11b7f3;
    font-size: 20px;
}

.signup2Content{
    width:50%;height:60%;margin-left:30%;margin-top:2%;text-align:left
}

.signSelector {
	margin-top:5px;
    width: 110px;
    height:26px;
    font-size: 16px;
}

.signLongSelector {
	margin-top:5px;
    width: 340px;
     height:26px;
    font-size: 16px;
}

th, td {
    padding: 10px;
}