@CHARSET "UTF-8";
.product-bigicon {
    float: left;
    width: 140px;
    height: 140px;
    border-radius: 70px;
    color: #fff;
    text-align: center;
    margin-left:5%;
    margin-top:5%;
    padding-top:4%;
    line-height:normal;
}

.line{
	width:70%;
	margin-top:0;
	border-top:1px solid white;
	border-bottom:none;
	height:1px;
}

.rightPart{
	float:left;width:50%;height:180px;margin-left:10%;
	padding-top:7%;
	
}

.smallBlock{
	width:10px;height:30px;background-color:#11b7f3;float:left;
}

.blueFont{
	font-size:20px;margin-left:5%;color:#11b7f3
}

.income{
	border:1px solid red;height:140px;width:90%;margin-left:5%
}

.typeFont{
	font-size:14px;color:#BBBBBB
}

.detailDiv{
	width:160px;margin-left:8%;float:left;margin-top:2%
}

.infoBlock{
	width:400px;float:left;margin-top:2%;
}

