@charset "utf-8";

html, body, h1, h2, h3, h4, h5, h6, li, ul, p, a, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 14px;
    font-weight: 100;
    text-decoration: none;
    list-style: none;
}
body {
    background: #eaeaea;
}
p {
    line-height: 25px;
}
.clear {
    clear: both;
}
.container {
    margin: auto;
    width: 960px;
}
.white-bg {
    background-color: #fff;
}
.shadow {
    -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
}

/* top bar */
.top-bar {
    margin-top: 30px;
    height: 90px;
    font-size: 0;
}

.top-bar .select-section {
    display: inline-block;
    vertical-align: top;

    width: 49%;
    height: 100%;
    color: #898989;
    cursor: pointer;
}
.top-bar .circle {
    float: left;
    margin-top: 20px;
    text-align: center;
    line-height: 50px;
    margin-left: 100px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    font-size: 36px;
}
.top-bar .title {
    float: left;
    line-height: 90px;
    margin-left: 60px;
    font-size: 24px;
}
.top-bar .line {
    display: inline-block;
    margin: 15px 1px;
    content: "";
    width: 1px;
    height: 60px;
    background-color: #eaeaea;
}
.top-bar .current .circle {
    color: #fff;
    background-color: #11b7f3;
}
.top-bar .current .title {
    color: #11b7f3;
}
/* order-info */
.order-info-confirm, .order-info-pay {
    margin-top: 10px;
    padding: 10px 0;
}
.title-rect {
    float: left;
    width: 10px;
    height: 40px;
    background-color: #11b7f3;
}
.inside-container {
    float: left;
    margin-left: 30px;
    width: 900px;
}
.inside-container h2 {
    float: left;
    line-height: 46px;
    font-size: 24px;
    color: #11b7f3;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-width: 0;
    text-align: left;
}
th {
    color: #707070;
    font-weight: 100;
}
th, td {
    padding: 10px;
}
td {
    color: #707070;
    font-size: 0.75rem;
}
table .current
{
    background-color: #ddf5fd;
}
table button {
    border: none;
    outline: 0;
    cursor: pointer;
    background-color: #fff;
    border-radius: 3px;
}

table input[type=text]{
    width: 40px;
    height: 20px;
    padding: 2px;
    color: #707070;
    font-size: 0.75rem;
    font-family: "Microsoft YaHei";
    outline: none;
    border: 1px solid #b0b0b0;
    border-radius: 0;
    box-shadow: none;
}

.order-info-confirm tr .product-section {
    width: 40%;
}
.order-info-confirm tr .product-price {
    width: 20%;
}
.order-info-confirm tr .product-quantity {
    width: 15%;
}
.product-sum {
    color: #f53425;
}
.product-icon {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
}
.icon-manage {
    background-color: #ffc001;
    box-shadow: 0 2px 6px 0 #ffc001;
}
.icon-fund {
    background-color: #fd537b;
    box-shadow: 0 2px 6px 0 #fd537b;
}
.icon-insurance {
    background-color: #bb52fe;
    box-shadow: 0 2px 6px 0 #bb52fe;
}
.icon-bond {
    background-color: #fd9b4c;
    box-shadow: 0 2px 6px 0 #fd9b4c;
}
.product-title {
    float: left;
    vertical-align: middle;
    padding-left: 10px;
}
.product-title .main-title {
    font-size: 14px;
    color: #707070;
}
.product-title .sub-title {
    font-size: 12px;
    color: #a0a0a0;
}

/* order-info-pay */
.order-info-pay .total {
    float: right;
    line-height: 40px;
}
.order-info-pay .total .total-title {
    margin-right: 20px;
    font-size: 14px;
    color: #707070;
}
.order-info-pay .total .total-sum {
    font-size: 30px;
    color: #f53425;
}
.order-info-pay tr .product-section {
    width: 40%;
}
.order-info-pay tr .product-price {
    width: 25%;
}
.order-info-pay tr .product-quantity {
    width: 20%;
}



/* confirm-order  pay-way*/
.confirm-order, .pay-way {
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px 0 20px;
    /*height: 300px;*/
}

.confirm-order .total {
    /*float: right;*/
    line-height: 46px;
}
.confirm-order .total .total-title {
    margin-right: 20px;
    font-size: 18px;
    color: #11b7f3;
}
.confirm-order .total .total-sum {
    font-size: 30px;
    color: #f53425;
}
.block-button {
    margin-top: 20px;
    padding: 8px 30px;
    border: none;
    outline: 0;
    cursor: pointer;
    color: #fff;
    background-color: #11b7f3;
    font-size: 24px;
    box-shadow: 0 3px 3px 0 #0e8bb8;
}
.pay-way .block-button {
    margin-top: 100px;
}

.pay-section {
    padding: 3px 0;
}
input[type=radio]:not(old) {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size : 1em;
    opacity: 0;
}
input[type=radio]:not(old) + label {
    width: 98%;
    padding: 5px 3px;
    border: solid 2px transparent;
    display: inline-block;
    margin-left: -2em;
    line-height: 15px;
    color: #434343;
}
input[type=radio]:not(old) + label > span {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 1px 8px 1px 1px;
    border: .5px solid #959595;
    border-radius: 8px;
    vertical-align: middle;

}
input[type=radio]:not(old):checked +  label {
    border: solid 2px #11b7f3;
    color: #007aff;
}
input[type=radio]:not(old):checked +  label > span > span {
    display: block;
    width: 8px;
    height: 8px;
    margin: 3px;
    border-radius: 4px;
    background: #959595;
}

