.filter-container {
    /*height: 230px;*/
    margin: 0px auto auto auto;
    padding-bottom: 20px;
    background-color: white;
    box-sizing: border-box;
}

.filter-container h1 {
    width: 70px;
    margin-right: 15px;
    padding: 5px;
    border-left: 8px solid rgb(0, 182, 247);
    color: rgb(0, 182, 247);
    font-size: 20px;
    text-align: center;
    display: inline;
    box-sizing: content-box;
}

.input-add-on {
    display: flex;
}

.input-add-on-field {
    flex: 1;
    justify-content: space-between;
}


.search-wrapper, .filter-wrapper {
    width: 550px;
}

.search-wrapper {
    padding-top: 20px;
}

.filter-wrapper {
    padding-top: 28px;
}

.search-input {
    /*margin: 0 10px 0 15px;*/
}

.search-button, .filter-button {
    width: 100px;
    height: 32px;
    margin-left: 10px;
    padding: 0 5px 10px 5px;
    font-family:
            "Pingfang SC", "Open Sans",
            "Lantinghei SC", "Microsoft Yahei Light",
            "Microsoft Yahei", "Helvetica Neue",
            Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: lighter;
    font-size: 18px;
}

select {
    /*width: 100px;*/
    margin: auto;
    height: 32px;
}

input[type="text"] {
    margin: auto;
    padding-left: 5px;
    height: 32px;
}

.left {
    margin-right: 5px;
}

.right {
    margin-left: 5px;
}

.income-wrapper {
    margin-top: 20px;
    padding: 0 16px;
    display: flex;
}

.income-wrapper .tag{
    font-size: 16px;
    /*padding-top: 5px;*/
    min-width: 32px;
    margin: auto 0;
    font-weight: lighter;
    text-align: center;
    /*padding: auto;*/
    box-sizing: border-box;
}

.income-item {
    flex: 1;
    margin-right: 20px;
}

.slider-wrapper {
    margin-left: 10px;
    padding: auto 0;
    position: relative;
    font-size: 4px;
    /*display: flex;*/
}

.slider-start {
    position: absolute;
    top: 15px;
    left: 0px;
}

.slider-end {
    position: absolute;
    top: 15px;
    /*right: 2px;*/
    left: 190px;
}

.u1of3 {
    flex: 0 0 31.11%;
}

.u1of4 {
    flex: 0 0 25%;
}

.u1of20 {
    flex: 0 0 5%;
}

.income-wrapper select {
    margin: 0 0 0 10px;
}

.toggle-wrapper {
    display: flex;
    align-items: center;
}

.toggle-wrapper select {
    width: 150px;
}

.btn-info {
    background-color: rgb(0, 182, 247);
}

#fund_sort_type {
    color: rgb(0, 182, 247);
}

#fund_sort_type:hover {
    color: rgb(0, 132, 197);
    cursor: pointer;
}

/*input[type="text"].form_datetime {*/
    /*height: 32px;*/
    /*outline: none;*/
/*}*/
#insurance_distributor {
    width: 100%;
}